$defaultColor: #e3e4e9
$mainColor: #4B0082
$textColor: #656565
$titleColor: #202020
$subtitleColor: #777e8c
$slightlyTextColor: transparentize($textColor, .8)
$slightlyMainColor: rgba(75, 0, 130, 0.03)